<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krry.mapper.BlogMapper" >
	
	<!-- 分页查询所有的博客信息 -->
	<select id="findBlogs" resultType="java.util.HashMap" parameterType="Params">
		SELECT * FROM(
			SELECT ROWNUM WN,RN.* FROM (
				SELECT
					id,
					title,
					create_time as createTime,
					musictor,
					musictitle
				FROM
					krry_blog
				ORDER BY create_time desc
			)RN
		)WN
		WHERE WN &lt;= #{pageSize} AND WN &gt; #{pageNo}
	</select>
	
	<!-- 查询博客数量 -->
	<select id="countBlogs" resultType="long">
		SELECT
			count(*)
		FROM
			krry_blog
	</select>
	
	
</mapper>
